nav{
  top:0;
  left: 0;
  width: 200px;
  height: 100%;
  position: fixed;
  display: block;
  background-color: #fcfcfc;
}

nav a{
  display: block;
  text-decoration: none;
  color: #9e9e9e;
  padding: 10px 0 0 10px;

}

nav a.active{
  color: #4a4a4a;
}

.sub-route{
  padding-left: 10px;
}

.main-container {
  margin-left:200px;
}
